@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
  font-family: 'Roboto Condensed', sans-serif;
}

body{
  padding-top: 4%;
}

.bg-div-pink{
  background-color: #fff5f8;
}

.bg-div-white{
  background-color: white;
}